// you can change colors here
$theme-color: #096dd9;
$font-family: '"Source Han Sans SC", "Source Han Sans CN", "PingFang SC", "Microsoft YaHei", sans-serif';
$font-family-heading: '"Source Han Sans SC", "Source Han Sans CN", "PingFang SC", "Microsoft YaHei", sans-serif';
$font-family-mono: 'Consolas';